/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
1
/material-dashboard-master
utu_prod1.pem
build-pipline.pem
.idea/*
Invited_code_api_doc.docx
/storage/analytics/utu-traffic-85d5429dea3f.json

utu_dev.pem
jenkins-server.pem
.DS_Store
/storage/framework/sessions/*
