@import "reset"
@import "~bootstrap-4-grid"
@import 'variables'
@import "mixin"
@import "layout"
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap')

.help-center
    text-align: center
    .main-title
        display: inline-block
        width: 630px
        text-align: left
        @media (max-width: 1920px)
            width: 450px
        @media (max-width: 1200px)
            width: 380px
        @media (max-width: 576px)
            margin: 20px 40px 0
    .help-center-list
        margin: 106px auto
        width: 630px
        text-align: left
        @media (max-width: 1920px)
            margin: 80px auto
            width: 450px
        @media (max-width: 1200px)
            margin: 40px auto
            width: 380px
        @media (max-width: 576px)
        ul li
            font-size: 44px
            font-weight: 300
            font-stretch: normal
            font-style: normal
            line-height: 2
            letter-spacing: 0.44px
            @media (max-width: 1920px)
                font-size: 32px
                line-height: 1.5
            @media (max-width: 1200px)
                font-size: 26px
            @media (max-width: 576px)
                font-size: 22px
            span.icon
                margin-right: 25px
                @media (max-width: 576px)
                    margin: 0 15px
            span.icon::before
               content: "\272A"
               color: $second-blue-color

.careers
    text-align: center
    .main-txt
        margin: 103px 0
        @media (max-width: 1920px)
            margin: 70px 0
        @media (max-width: 1200px)
            margin: 40px 0
        @media (max-width: 576px)
            margin: 30px 0
    .careers-list
        margin-bottom: 80px
        .second-title
            margin-bottom: 67px
            @media (max-width: 1920px)
                margin-bottom: 40px
            @media (max-width: 1200px)
                margin-bottom: 30px
            @media (max-width: 576px)
                margin-bottom: 20px
        .careers-item
            margin-bottom: 67px
            @media (max-width: 1920px)
                margin-bottom: 40px
            @media (max-width: 1200px)
                margin-bottom: 30px
            @media (max-width: 576px)
                margin-bottom: 20px
            .careers-item-title
                font-size: 38px
                font-weight: 500
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                color: $second-blue-color
                @media (max-width: 1920px)
                    font-size: 34px
                @media (max-width: 1200px)
                    font-size: 28px
                @media (max-width: 576px)
                    font-size: 24px
                a
                    text-decoration: none
                    color: $second-blue-color
            .careers-item-txt
                font-size: 26px
                font-weight: 300
                font-stretch: normal
                font-style: normal
                letter-spacing: 0.33px
                opacity: 0.54
                @media (max-width: 1920px)
                    font-size: 24px
                @media (max-width: 1200px)
                    font-size: 20px
                @media (max-width: 576px)
                    font-size: 16px
.career
    .career-list
        margin: 103px 10%
        @media (max-width: 1920px)
            margin: 70px 10%
        @media (max-width: 1200px)
            margin: 40px 10%
        @media (max-width: 576px)
            margin: 30px 0
        .second-title
            margin-bottom: 70px
            text-align: center
            line-height: 1.4
            @media (max-width: 1920px)
                margin-bottom: 40px
            @media (max-width: 1200px)
                margin-bottom: 30px
            @media (max-width: 576px)
                margin-bottom: 20px
        .location
            font-size: 26px
            font-weight: 300
            font-stretch: normal
            font-style: normal
            letter-spacing: 0.33px
            opacity: 0.54
            text-align: center
            margin-bottom: 100px
            @media (max-width: 1920px)
                font-size: 24px
                margin-bottom: 70px
            @media (max-width: 1200px)
                font-size: 20px
                margin-bottom: 50px
            @media (max-width: 576px)
                font-size: 16px
                margin-bottom: 30px
        .content
            h1,h2,h3
                font-size: 44px
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                letter-spacing: normal
                font-weight: 500
                margin: 40px 0
                @media (max-width: 1920px)
                    font-size: 30px
                    margin: 30px 0
                @media (max-width: 1200px)
                    font-size: 20px
                    margin: 20px 0
                @media (max-width: 576px)
                    font-size: 16px
                    margin: 15px 0
            p
                font-size: 33px
                font-weight: 300
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                letter-spacing: normal
                margin-bottom: 30px
                text-align: justify
                @media (max-width: 1920px)
                    font-size: 20px
                    margin-bottom: 15px
                @media (max-width: 1200px)
                    font-size: 16px
                    margin-bottom: 10px
                @media (max-width: 576px)
                    font-size: 14px
            ul li
                font-size: 33px
                font-weight: 300
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                letter-spacing: normal
                list-style: disc
                margin-left: 5%
                margin-bottom: 30px
                @media (max-width: 1920px)
                    font-size: 20px
                    margin-bottom: 15px
                @media (max-width: 1200px)
                    font-size: 16px
                    margin-bottom: 10px
                @media (max-width: 576px)
                    font-size: 14px
.introduce
    text-align: center
    .main-title
        margin: 106px 0
        @media (max-width: 1920px)
            margin: 70px 0
        @media (max-width: 1200px)
            margin: 40px 0
        @media (max-width: 576px)
            margin: 30px 0
    .main-txt
        text-indent: 80px
        margin: 50px 0 40px
        @media (max-width: 1920px)
            margin: 40px 0 30px
            text-indent: 60px
        @media (max-width: 1200px)
            margin: 30px 0 20px
            text-indent: 40px
        @media (max-width: 576px)
            margin: 20px 0 15px
            text-indent: 0
    .introduce-list
        margin: 146px 0
        @media (max-width: 1920px)
            margin: 70px 0
        @media (max-width: 1200px)
            margin: 40px 0
        @media (max-width: 576px)
            margin: 30px 0
        .introduce-item
            margin: 106px 0
            @media (max-width: 1920px)
                margin: 70px 0
            @media (max-width: 1200px)
                margin: 40px 0
            @media (max-width: 576px)
                margin: 30px 0
        .introduce-item-title
            font-size: 44px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 1.25
            letter-spacing: 0.44px
            @media (max-width: 1920px)
                font-size: 32px
                letter-spacing: 0.33px
            @media (max-width: 1200px)
                font-size: 26px
            @media (max-width: 576px)
                font-size: 24px
                font-weight: bold
                letter-spacing: 0.3px
                line-height: 1.5

.ground_rules
    text-align: center
    .main-title
        margin-bottom: 106px
        @media (max-width: 1920px)
            margin-bottom: 80px
        @media (max-width: 1200px)
            margin-bottom: 60px
        @media (max-width: 576px)
            margin-bottom: 40px
    .main-txt
        margin-bottom: 80px
        @media (max-width: 1920px)
            margin-bottom: 60px
        @media (max-width: 1200px)
            margin-bottom: 40px
        @media (max-width: 576px)
            margin-bottom: 20px
    &.container
        @media (min-width: 1920px)
            max-width: 1460px
    .ground-rules-list
        .second-title
            margin-bottom: 80px
            @media (max-width: 1920px)
                margin-bottom: 60px
            @media (max-width: 1200px)
                margin-bottom: 40px
            @media (max-width: 576px)
                margin-bottom: 20px
        .main-txt
            margin-bottom: 40px
            @media (max-width: 1920px)
                margin-bottom: 30px
            @media (max-width: 1200px)
                margin-bottom: 20px
            @media (max-width: 576px)
                margin-bottom: 10px

.privacy-notice
    text-align: center
    margin-bottom: 100px
    .main-title
        margin-bottom: 106px
        @media (max-width: 1920px)
            margin-bottom: 80px
        @media (max-width: 1200px)
            margin-bottom: 60px
        @media (max-width: 576px)
            margin-bottom: 40px
    .second-title
        margin-top: 106px
        @media (max-width: 1920px)
            margin-top: 80px
        @media (max-width: 1200px)
            margin-top: 60px
        @media (max-width: 576px)
            margin-top: 40px
.signup
    text-align: center
    .main-title
        @media (max-width: 576px)
           font-size: 26px
           margin-top: 40px
    .form-list
        margin: 98px auto 200px
        display: inline-block
        width: 986px
        @media (max-width: 1920px)
            margin: 68px auto 100px
            width: 750px
        @media (max-width: 1200px)
            margin: 48px auto 60px
            width: 550px
        @media (max-width: 576px)
            margin: 42px auto 40px
            width: 100%
        .error
            position: absolute
            color: red
            display: none
        .input-fill-x
            position: relative
            width: 100%
            border-bottom: 1px solid #d0d0d5
            margin-bottom: 77.5px
            @media (max-width: 1920px)
                margin-bottom: 50px
            @media (max-width: 1200px)
                margin-bottom: 30px
            @media (max-width: 576px)
                margin-bottom: 20px
            &::after
                content: ''
                position: absolute
                border-bottom: 1px solid $second-blue-color
                left: 0
                right: 0
                bottom: -1px
                transform: scaleX(0)
                transition: transform .25s
            &:focus-within
                &::after
                    transform: scaleX(1)
        .input-control, .select-control
            margin: 0
            font-size: 33px
            line-height: 1.5
            outline: none
            &:placeholder-shown
                &::placeholder
                    color: transparent
            @media (max-width: 1920px)
                font-size: 26px
            @media (max-width: 1200px)
                font-size: 20px
            @media (max-width: 576px)
                font-size: 16px
        .select-control
            background-color: #fff
            -webkit-appearance: none

        .input-fill
            padding: 20px 16px 6px
            border: 1px solid transparent
            width: 100%
        .input-label
            position: absolute
            font-size: 33px
            font-weight: 300
            letter-spacing: 0.33px
            opacity: 0.45
            left: 0
            top: 14px
            font-style: italic
            line-height: 1.24
            transform-origin: 0 0
            pointer-events: none
            transition: all .25s
            @media (max-width: 1920px)
                font-size: 26px
            @media (max-width: 1200px)
                font-size: 20px
            @media (max-width: 576px)
                font-size: 16px
        .label-require:after
            content: "\002A"
            color: #ff0000
            margin-right: 15px
        .input-control:not(:placeholder-shown) ~ .input-label,
        .input-control:focus ~ .input-label
            color: $second-blue-color
            transform: scale(0.55) translate(-2px, -32px)
            opacity: 1
        .select-control:not(:invalid) ~ .input-label,
        .select-control:focus ~ .input-label
            color: $second-blue-color
            transform: scale(0.55) translate(-2px, -32px)
            opacity: 1
        .form-txt
            font-size: 17px
            font-weight: 100
            font-stretch: normal
            font-style: normal
            line-height: 2.41
            letter-spacing: 0.17px
            margin: 114px auto 41px
            max-width: 790px
            @media (max-width: 1920px)
                max-width: 680px
                font-size: 14px
                letter-spacing: 0.12px
                line-height: 1.8
                margin: 80px auto 30px
            @media (max-width: 1200px)
                max-width: 580px
                font-size: 12px
                letter-spacing: 0.1px
                line-height: 1.4
                margin: 60px auto 25px
            @media (max-width: 576px)
                width: 100%
                font-size: 10px
                letter-spacing: 0
                line-height: 1.4
                margin: 40px auto 20px
            a
                text-decoration: none
                font-weight: 300
                color: $txt-color-black
        .form-captcha
            margin: 141px auto 200px
            @media (max-width: 1920px)
                margin: 70px auto 100px
            @media (max-width: 1200px)
                margin: 40px auto 70px
            @media (max-width: 576px)
                width: 100%
                margin: 20px auto
                overflow: hidden
            .g-recaptcha
                margin: 15px auto !important
                width: auto !important
                height: auto !important
                text-align: -webkit-center
                text-align: -moz-center
                text-align: -o-center
                text-align: -ms-center
                @include transform(2.5)
                @media (max-width: 1920px)
                    @include transform(1.4)
                @media (max-width: 1200px)
                    @include transform(1.2)
                @media (max-width: 576px)
                    @include transform(1)
                @media (max-width: 320px)
                    @include transform(0.8)
            .form-button
                text-align: center
        .form-item
            text-align: left
            position: relative
            display: block
            .form-checkbox
                border: 1px solid $button-hover-color
                position: absolute
                width: 35px
                height: 35px
                top: 5px
                -webkit-appearance: checkbox
                border-radius: 5px
                @media (max-width: 1920px)
                    width: 25px
                    height: 25px
                    top: 3px
                @media (max-width: 1200px)
                    width: 16px
                    height: 16px
                    top: 1px
                @media (max-width: 576px)
                    width: 12px
                    height: 12px
                    top: 0
                &::after
                    content: ""
                    color: #000
            .form-checkbox-txt
                margin-left: 60px
                font-size: 40px
                font-weight: 300
                @media (max-width: 1920px)
                    margin-left: 50px
                    font-size: 30px
                @media (max-width: 1200px)
                    font-size: 20px
                    margin-left: 30px
                @media (max-width: 576px)
                    font-size: 14px
                    margin-left: 25px

.cookie
  margin-bottom: 150px
  @media (max-width: 576px)
      margin-bottom: 80px
.message
    text-align: center
    .second-title
        margin-bottom: 100px
        @media (max-width: 1920px)
            margin-bottom: 60px
        @media (max-width: 1200px)
            margin-bottom: 40px
        @media (max-width: 576px)
            margin-bottom: 30px

    .second-txt
        font-size: 34px
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: 1.25
        letter-spacing: 0.44px
        margin-bottom: 40px

        @media (max-width: 1920px)
            font-size: 24px
            margin-bottom: 30px
        @media (max-width: 1200px)
            font-size: 20px
            margin-bottom: 25px
        @media (max-width: 576px)
            font-size: 16px
            text-align: left
            margin-bottom: 20px
    .message-button
        margin: 100px 0
        @media (max-width: 1920px)
            margin: 60px 0
        @media (max-width: 1200px)
            margin: 40px 0
        @media (max-width: 576px)
            margin: 30px 0
.news
    .main-title
        text-align: center
        margin-bottom: 185px
        @media (max-width: 1920px)
            margin-bottom: 100px
        @media (max-width: 1200px)
            margin-bottom: 60px
        @media (max-width: 576px)
            margin-bottom: 30px
        @media (max-width: 380px)
            margin-bottom: 20px
    .news-item
        margin-bottom: 275px
        @media (max-width: 1920px)
            margin-bottom: 170px
        @media (max-width: 1200px)
            margin-bottom: 100px
        @media (max-width: 576px)
            margin-bottom: 70px
        @media (max-width: 380px)
            margin-bottom: 55px
        .news-img img
            width: 100%
        .news-list
            margin-left: 50px
            @media (max-width: 1920px)
                margin-left: 30px
            @media (max-width: 1200px)
                margin-left: 15px
            @media (max-width: 576px)
                margin-left: 0
            .news-txt1
                margin-bottom: 26px
                font-size: 22px
                font-weight: 500
                font-stretch: normal
                font-style: normal
                line-height: 2.5
                letter-spacing: 0.22px
                text-transform: uppercase
                @media (max-width: 1920px)
                    margin-bottom: 20px
                    font-size: 18px
                @media (max-width: 1200px)
                    margin-bottom: 15px
                    font-size: 16px
                @media (max-width: 576px)
                    margin-bottom: 10px
                    font-size: 14px
                @media (max-width: 380px)
                    margin-bottom: 5px
                    font-size: 11px
                    letter-spacing: 0.11px
                .news-type
                    margin-right: 32px
                    @media (max-width: 1920px)
                        margin-right: 28px
                    @media (max-width: 1200px)
                        margin-right: 26px
                    @media (max-width: 576px)
                        margin-right: 24px
                .news-date
                    opacity: 0.4
            .news-subtitle
                font-size: 44px
                font-weight: 500
                font-stretch: normal
                font-style: normal
                line-height: 1.25
                letter-spacing: 0.44px
                margin-bottom: 31px
                @media (max-width: 1920px)
                    font-size: 30px
                    margin-bottom: 24px
                @media (max-width: 1200px)
                    font-size: 26px
                    margin-bottom: 15px
                @media (max-width: 576px)
                    font-size: 24px
                    margin-bottom: 0
                @media (max-width: 380px)
                    font-size: 22px
                a
                    text-decoration: none
                    color: $txt-color-black
            .news-txt2
                font-size: 33px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1.2
                letter-spacing: normal
                text-align: left
                @media (max-width: 1920px)
                    font-size: 20px
                @media (max-width: 1200px)
                    font-size: 16px
                @media (max-width: 576px)
                    display: none


.news-detail
    .main-title
        text-align: center
        margin-bottom: 185px
        @media (max-width: 1920px)
            margin-bottom: 100px
        @media (max-width: 1200px)
            margin-bottom: 60px
        @media (max-width: 576px)
            margin-bottom: 30px
        @media (max-width: 380px)
            margin-bottom: 20px
    .news-banner
        margin-bottom: 110px
        @media (max-width: 1920px)
            margin-bottom: 60px
        @media (max-width: 1200px)
            margin-bottom: 40px
        @media (max-width: 576px)
            margin-bottom: 25px
        @media (max-width: 380px)
            margin-bottom: 15px
        img
            width: 100%
    .news-list
        max-width: 1401px
        margin: auto
        @media (max-width: 1920px)
            max-width: 980px
        @media (max-width: 1200px)
            max-width: 760px
        @media (max-width: 576px)
            max-width: 400px
        .news-txt1
            text-align: center
            margin-bottom: 61px
            font-size: 22px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 2.5
            letter-spacing: 0.22px
            text-transform: uppercase
            @media (max-width: 1920px)
                margin-bottom: 40px
                font-size: 18px
            @media (max-width: 1200px)
                margin-bottom: 30px
                font-size: 16px
            @media (max-width: 576px)
                margin-bottom: 20px
                font-size: 14px
            @media (max-width: 380px)
                margin-bottom: 10px
                font-size: 11px
                letter-spacing: 0.11px
            .news-type
                margin-right: 32px
                @media (max-width: 1920px)
                    margin-right: 28px
                @media (max-width: 1200px)
                    margin-right: 26px
                @media (max-width: 576px)
                    margin-right: 24px
            .news-date
                opacity: 0.4
        .news-subtitle
            font-size: 66px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            letter-spacing: 0.66px
            text-align: center
            margin-bottom: 61px
            @media (max-width: 1920px)
                font-size: 40px
                margin-bottom: 40px
            @media (max-width: 1200px)
                font-size: 32px
                margin-bottom: 20px
            @media (max-width: 576px)
                font-size: 28px
                margin-bottom: 10px
            @media (max-width: 380px)
                font-size: 24px
        .news-txt2
            margin-bottom: 80px
            @media (max-width: 1920px)
                margin-bottom: 50px
            @media (max-width: 1200px)
                margin-bottom: 35px
            @media (max-width: 576px)
                margin-bottom: 25px
            @media (max-width: 380px)
                margin-bottom: 15px
            h1,h2,h3
                font-size: 40px
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                letter-spacing: normal
                font-weight: 500
                margin: 40px 0
                opacity: 0.8
                @media (max-width: 1920px)
                    font-size: 26px
                    margin: 30px 0
                @media (max-width: 1200px)
                    font-size: 20px
                    margin: 20px 0
                @media (max-width: 576px)
                    font-size: 16px
                    margin: 15px 0
            p
                font-size: 33px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1.4
                letter-spacing: normal
                text-align: justify
                color: $button-hover-color
                margin-bottom: 30px
                @media (max-width: 1920px)
                    font-size: 20px
                    margin-bottom: 15px
                @media (max-width: 1200px)
                    font-size: 16px
                @media (max-width: 576px)
                    font-size: 14px
                    margin-bottom: 10px
                @media (max-width: 380px)
                    font-size: 12px
            a
                text-decoration: none
                color: $second-blue-color
            img
                width: 100%
                margin: 15px 0
        .news-copyright
            font-size: 20px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 1.2
            letter-spacing: normal
            text-align: left
            color: $button-hover-color
            @media (max-width: 1920px)
                font-size: 12px
                margin-bottom: 36px
            @media (max-width: 1200px)
                font-size: 10px
                margin-bottom: 26px
            @media (max-width: 576px)
                font-size: 8px
                margin-bottom: 15px


